.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red !important;
}

.another-file-over-class {
    border: dotted 3px green;
}

html, body {
    height: 100%;
}

table {
    width: 100%;
    margin-top: 30px;
}

.jGrowl-notification {
    background-color: red !important;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0.5; background-color: green }
      to { opacity: 1; background-color: white }
}

@keyframes fadeIn {
    from { opacity: 0.5; background-color: green }
      to { opacity: 1; background-color: white }
}

.file_item {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    -webkit-animation-direction: alternate;
    animation-direction: altarnate;
}