{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script>
        var constants = {{ constants | safe }};
        var csrf_token = "{% csrf_token %}";
    </script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'jquery/jquery.jgrowl.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
    <script src="{% static 'jquery/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.jgrowl.min.js' %}"></script>
    <script src="{% static 'angularjs/angular.min.js' %}"></script>
    <script src="{% static 'underscore/underscore-min.js' %}"></script>
    <script src="{% static 'angular-upload/angular-file-upload.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
</head>
<body ng-app="app" ng-controller="AppController" nv-file-drop=""
      uploader="uploader" filters="checkExtenstion">

<div class="container">

    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Binary Studio Demo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://bitbucket.org/ilysenko/binary">View on
                    BitBucket</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>CSV, JSON and XML files convertor</h3>

            <div ng-show="uploader.isHTML5">
                <div class="well my-drop-zone" nv-file-over=""
                     uploader="uploader">
                    Drop Files Here. Valid extensions is CSV, JSON and XML.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 pul">
            <div class="pull-right"><label>Or select multiple files</label>
            </div>
        </div>
        <div class="col-md-9">
            <input type="file" nv-file-select="" uploader="uploader"
                   multiple/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 pul">
            <div class="pull-right"><label>Convert automatically</label>
            </div>
        </div>
        <div class="col-md-9">
            <input type="checkbox" ng-model="autoConvert"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                {% verbatim %}

                <thead>
                <tr>
                    <th width="30%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th class="">Actions</th>
                </tr>
                </thead>

                <tr ng-repeat="item in uploader.queue" class="file_item">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>
                        <span ng-show="item.file.size">{{ item.file.size/1024/1024|number:2 }} MB</span>
                    </td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;"
                             ng-show="item.progress !=0 &&  !item.processed">
                            <div class="progress-bar" role="progressbar"
                                 ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="">
                    <span ng-show="item.isSuccess || item.processed"><i
                            class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i
                            class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i
                            class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap class="">
                        <div ng-if="!item.processed">
                            <button type="button" class="btn btn-success btn-xs"
                                    ng-click="item.upload()"
                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span>
                                Process
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span>
                                Remove
                            </button>
                        </div>
                        <div ng-if="item.processed">
                            <span ng-repeat="e in getExtensions()">
                                <button ng-click="processUpload(item, e)"
                                        type="button"
                                        class="btn btn-default btn-xs"
                                        ng-class="{'btn-primary': item.file.name.indexOf(e.toLowerCase()) != -1}">
                                    {{ e }}
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
                {% endverbatim %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button ng-click="deleteAll()" type="button"
                    class="btn btn-default"
                    ng-show="uploader.queue.length > 0">
                Clear All Files
            </button>
        </div>
    </div>

</div>

<span x-file-download></span>
</body>
</html>